/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
body {
  font-family: serif;
  background: #fff;
}

/* line 13, ../sass/screen.scss */
.section1 .innerwrap:first-child {
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

/* line 19, ../sass/screen.scss */
.section5 .innerwrap {
  border-bottom: 2px solid black;
  padding-bottom: 1px;
  margin-bottom: 40px;
}

/* line 47, ../sass/index.scss */
.header {
  position: fixed;
  background: black;
  z-index: 5;
  top: 0;
  width: 100%;
}
/* line 53, ../sass/index.scss */
.header img {
  display: block;
  margin: 0.2em auto;
  width: 30%;
}
@media (max-width: 600px) {
  /* line 53, ../sass/index.scss */
  .header img {
    width: 60%;
  }
}
/* line 61, ../sass/index.scss */
.header a {
  color: white;
}
/* line 64, ../sass/index.scss */
.header .i {
  display: block;
  position: absolute;
  right: 1em;
  top: calc(50% - 0.6em);
  font-size: 1.4em;
}
/* line 70, ../sass/index.scss */
.header .i i {
  margin: 0 0.3em;
}

/* line 52, ../sass/screen.scss */
.caption {
  color: #eee;
  background: #647AC8;
  padding: 0.6em;
  font-size: 0.8em;
  text-align: right;
}

/* line 59, ../sass/screen.scss */
.narrow {
  font-size: 0.6em;
}

/* line 62, ../sass/screen.scss */
.intro {
  background: url("../media/photo_1.jpg") top center no-repeat;
  padding-top: 49%;
  background-size: 100%;
  position: relative;
  margin-top: 50px;
}
/* line 68, ../sass/screen.scss */
.intro h1 {
  position: absolute;
  font-family: 'Oswald';
  text-transform: uppercase;
  line-height: 1.7;
  color: #eee;
  text-shadow: black 1px 0 10px;
  font-size: 4em;
  text-align: center;
  width: 100%;
  top: 20px;
  left: auto;
}


.intro h2 {
  position: absolute;
  font-family: 'Oswald';
  text-transform: uppercase;
  line-height: 1.3;
  color: #eee;
  text-shadow: black 1px 0 10px;
  font-size: 2.5em;
  text-align: left;
  width: 100%;
  bottom: 20px;
  left: 10px;
}
@media (max-width: 700px) {
  /* line 68, ../sass/screen.scss */
  .intro h2 {
    font-size: 1em;
  }
}
@media (max-width: 600px) {
  /* line 68, ../sass/screen.scss */
  .intro h1 {
    font-size: 1.8em;
  }
}

/* line 89, ../sass/screen.scss */
.descriptor {
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 620px) {
  /* line 89, ../sass/screen.scss */
  .descriptor {
    display: none;
  }
}

/* line 97, ../sass/screen.scss */
.innerwrap {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0;
  font-size: 1.4em;
  line-height: 1.6;
}
/* line 105, ../sass/screen.scss */
.innerwrap p {
  margin-bottom: 2em;
  font-size: 18px;
}

/* line 118, ../sass/screen.scss */


/* line 183, ../sass/screen.scss */
img {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}

/* line 189, ../sass/screen.scss */
.pic2 {
  background: url("../media/photo_2.jpg") top center no-repeat;
  padding-top: 63%;
  background-size: contain;
}

/* line 194, ../sass/screen.scss */
.pic3 {
  background: url("../media/photo_3.jpg") 0 80% no-repeat;
  padding-top: 66%;
  background-size: cover;
}

.pic4 {
  background: url("../media/photo_4.jpg") top center no-repeat;
  padding-top: 66%;
  background-size: contain;
}

.pic5 {
  background: url("../media/photo_5.jpg") top center no-repeat;
  padding-top: 66%;
  background-size: contain;
}

@media (max-width: 600px) {
  /* line 201, ../sass/screen.scss */
  .highcharts-stack-labels {
    display: none;
  }
}
/* line 206, ../sass/screen.scss */
text[y="52"] {
  display: none;
}

/* line 210, ../sass/screen.scss */
text[zIndex="8"] {
  display: none;
}

/* line 214, ../sass/screen.scss */
text[text-anchor="end"] {
  display: none;
}

/* line 218, ../sass/screen.scss */
text[y="72"] {
  display: none;
}

/* line 222, ../sass/screen.scss */
text[y="48"] {
  display: none;
}

/* line 226, ../sass/screen.scss */
text[x="53"] {
  color: blue !important;
}

.story-meta{
  position: absolute;
  bottom: 30px;
  padding: 10px;
  margin: 50px 0 70px 50px;
  color: black;
  padding-left: 20px;
}

.title{
  font-size: 65px;
  margin-bottom: 25px;
  font-family: 'Chewy', cursive;
  text-shadow: 1px 1px 3px #d6d6d6;
}
.subtitle{
  font-size: 28px;
  margin-bottom: 18px;
  font-family: 'Chewy', cursive;
  text-shadow: 1px 1px 3px #d6d6d6;
  line-height: 1.1;
}

.byline{
  font-family: 'Chewy', cursive;
  text-shadow: 1px 1px 3px #d6d6d6;
}

@media (max-width: 920px) {
  .story-meta{
    width: 65%;
    top: 10%;
  }
  .title {
    font-size: 28px;
    text-shadow: 0.5px 0.5px 3px #d6d6d6;
  }
  .subtitle {
    font-size: 16px;
    text-shadow: 0.5px 0.5px 3px #d6d6d6;
  }
  .byline {
    font-size: 12px;
    text-shadow: 0.5px 0.5px 3px #d6d6d6;
  }
}


.center{
  width: 100%
}

i{
  font-style: italic;
}

@media (max-width: 800px) {
  .stm-img {
    float: none;
    left: 0;
    max-width: 100% !important;
  }
}

#box1 {
  background: url("../media/bubble1.png") no-repeat;
  background-size: contain;
  z-index: 10;
  height: 450px;
  width: 100%;
}

#box2 {
  background: url("../media/bubble2.png") no-repeat;
  background-size: contain;
  z-index: 10;
  height: 480px;
  width: 100%;
}

#boxtext1{
   font-family: 'Chewy',cursive;
   font-size: 24px;
   padding-top: 90px;
   padding-left: 140px;
   width: 70%;
   text-shadow: 0.5px 0.5px 2px #d6d6d6;
}

#boxtext2{
  font-family: 'Chewy',cursive;
  font-size: 24px;
  padding-top: 150px;
  padding-left: 160px;
  width: 70%;
  color: white;
}

@media (max-width: 920px) {
  .story-meta{
    width: 65%;
    top: 10%;
  }
  .title {
    font-size: 28px;
    text-shadow: 0.5px 0.5px 3px #d6d6d6;
  }
  .subtitle {
    font-size: 16px;
    text-shadow: 0.5px 0.5px 3px #d6d6d6;
  }
  .byline {
    font-size: 12px;
    text-shadow: 0.5px 0.5px 3px #d6d6d6;
  }

  #box1 {
    background: url("../media/bubble1.png") no-repeat;
    background-size: cover;
    z-index: 10;
    height: 250px;
    width: 100%;
  }

  #box2 {
    background: url("../media/bubble2.png") no-repeat;
    background-size: cover;
    z-index: 10;
    height: 280px;
    width: 100%;
  }

  #boxtext1{
    font-size: 15px;
    padding-top: 15%;
    padding-left: 25px;
    width: 90%;
  }

  #boxtext2 {
    font-size: 15px;
    padding-top: 20%;
    padding-left: 50px;
    width: 85%;
  }
}